## CKAN .env
# Container names
NGINX_CONTAINER_NAME=nginx
REDIS_CONTAINER_NAME=redis
POSTGRESQL_CONTAINER_NAME=db
SOLR_CONTAINER_NAME=solr
DATAPUSHER_CONTAINER_NAME=datapusher
CKAN_CONTAINER_NAME=ckan
WORKER_CONTAINER_NAME=ckan-worker

# Host Ports
CKAN_PORT_HOST=5000
NGINX_PORT_HOST=81
NGINX_SSLPORT_HOST=8443

# CKAN databases
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
CKAN_DB_USER=ckandbuser
CKAN_DB_PASSWORD=ckandbpassword
CKAN_DB=ckandb
DATASTORE_READONLY_USER=datastore_ro
DATASTORE_READONLY_PASSWORD=datastore
DATASTORE_DB=datastore
CKAN_SQLALCHEMY_URL=postgresql://ckandbuser:ckandbpassword@db/ckandb
CKAN_DATASTORE_WRITE_URL=postgresql://ckandbuser:ckandbpassword@db/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore

# Test database connections
TEST_CKAN_SQLALCHEMY_URL=postgres://ckan:ckan@db/ckan_test
TEST_CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore_test
TEST_CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore_test

# Dev settings
USE_HTTPS_FOR_DEV=false

# CKAN core
CKAN_VERSION=2.10.0
CKAN_SITE_ID=default
CKAN_SITE_URL=https://ndp-test.sdsc.edu
CKAN_PORT=5000
CKAN_PORT_HOST=5000
CKAN___ROOT__PATH=/catalog
CKAN___BEAKER__SESSION__SECRET=CHANGE_ME
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#api-token-settings
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:CHANGE_ME
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:CHANGE_ME
CKAN_SYSADMIN_NAME=CHANGE_ME
CKAN_SYSADMIN_PASSWORD=CHANGE_ME
CKAN_SYSADMIN_EMAIL=your_email@example.com
CKAN_STORAGE_PATH=/var/lib/ckan
CKAN_SMTP_SERVER=smtp.corporateict.domain:25
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER=user
CKAN_SMTP_PASSWORD=pass
CKAN_SMTP_MAIL_FROM=ckan@localhost
TZ=UTC

# Solr
SOLR_IMAGE_VERSION=2.10-solr9
CKAN_SOLR_URL=http://solr:8983/solr/ckan
TEST_CKAN_SOLR_URL=http://solr:8983/solr/ckan

# Redis
REDIS_VERSION=6
CKAN_REDIS_URL=redis://redis:6379/1
TEST_CKAN_REDIS_URL=redis://redis:6379/1

# Datapusher
DATAPUSHER_VERSION=0.0.20
CKAN_DATAPUSHER_URL=http://datapusher:8800
CKAN__DATAPUSHER__CALLBACK_URL_BASE=http://ckan:5000
DATAPUSHER_REWRITE_RESOURCES=True
DATAPUSHER_REWRITE_URL=http://ckan:5000

# NGINX
NGINX_PORT=80
NGINX_SSLPORT=443

# Extensions
CKAN__PLUGINS="envvars image_view text_view recline_view webpage_view datastore datapusher harvest ckan_harvester dcat_json_harvester dcat_rdf_harvester ndp keycloak resource_proxy"
CKAN__HARVEST__MQ__TYPE=redis
CKAN__HARVEST__MQ__HOSTNAME=redis
CKAN__HARVEST__MQ__PORT=6379
CKAN__HARVEST__MQ__REDIS_DB=1

#-------------------------
## MLFLOW .env

MLFLOW_HOME=/opt/mlflow
GUNICORN_CMD_ARGS=--timeout 600 --log-level debug
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=sample_key
AWS_BUCKET_NAME=mlflow

MLFLOW_PORT=5001
MLFLOW_S3_ENDPOINT_URL=http://minio:9000

MLFLOW_TRACKING_URI=http://mlflow:5001
MLFLOW_HOST=https://ndp-test.sdsc.edu
MLFLOW_FLASK_SECRET_KEY=dev
MLFLOW_DEFAULT_PASSWORD=
MLFLOW_ADMIN_USERNAME=admin
MLFLOW_ADMIN_PASSWORD=
KEYCLOAK_ISSUER=https://idp-test.nationaldataplatform.org/realms/NDP
MLFLOW_KEYCLOAK_CLIENT_ID=
MLFLOW_KEYCLOAK_CLIENT_SECRET=

#-------------------------
## Jupyterhub .env
#JUPYTERHUB_PROXY_PORT=8000
#JUPYTERHUB_PORT=8080
#JUPYTERHUB_ADMIN=admin
#DOCKER_NETWORK_NAME=ndp_default
#DOCKER_NOTEBOOK_IMAGE=jhub-spawn
#DOCKER_NOTEBOOK_DIR=/home/jovyan/work
#JUPYTERHUB_KEYCLOAK_CLIENT_ID=
#JUPYTERHUB_KEYCLOAK_CLIENT_SECRET=

#-------------------------
## Keycloak .env
OAUTH2_AUTHORIZE_URL=https://idp.nationaldataplatform.org/auth/realms/ndp/protocol/openid-connect/auth
OAUTH2_TOKEN_URL=https://idp.nationaldataplatform.org/auth/realms/ndp/protocol/openid-connect/token
KEYCLOAK_USERDATA_URL=https://idp.nationaldataplatform.org/auth/realms/ndp/protocol/openid-connect/userinfo

#-------------------------
## Front End .env
KEYCLOAK_ID=
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=https://idp-test.nationaldataplatform.org/realms/NDP
KEYCLOAK_TOKEN_URL=https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/token
NEXTAUTH_URL=https://ndp-test.sdsc.edu
NEXTAUTH_SECRET=
NEXT_PUBLIC_NDP_PASSWORD=
NEXT_PUBLIC_CKAN_URL=https://ndp-test.sdsc.edu/ckandata
NEXT_PUBLIC_CKAN_CATALOG_URL=https://ndp-test.sdsc.edu/catalog/api/3/action
NEXT_AWESOME_SERVER_URL=http://awesome-compute.sdsc.edu:8081/v1
NEXT_PUBLIC_JUPYTER_HUB_URL=https://ndp-test-jupyterhub.nrp-nautilus.io
#NEXT_PUBLIC_JUPYTER_HUB_URL=http://localhost:8443/jupyterhub
NEXT_PUBLIC_MAILING_LIST_EMAIL=ndp@sdsc.edu
NEXT_PUBLIC_NODE_MAILER_EMAIL=
NEXT_PUBLIC_NODE_MAILER_PSWD=
NEXT_PUBLIC_ML_FLOW_URL=https://ndp-test.sdsc.edu/mlflow
NEXT_PUBLIC_KEYCLOAK_API_URL=https://idp.nationaldataplatform.org/temp
NEXT_WORKSPACE_APIS_URL=https://ndp-test.sdsc.edu/workspaces-api
NEXT_PUBLIC_PREKAN_CATALOG_URL=https://ndp-test.sdsc.edu/catalog2/ndp
NODE_ENV=production
NEXT_PUBLIC_NDP_VERSION=v0.2 alpha version
NEXT_PUBLIC_NDP_RELEASE_NOTES=https://github.com/national-data-platform/ndp/releases/tag/v0.2.0-alpha

#-------------------------
## ckanext-keycloak
CKANEXT__KEYCLOAK__SERVER_URL=https://idp-test.nationaldataplatform.org
CKANEXT__KEYCLOAK__CLIENT_ID=
CKANEXT__KEYCLOAK__REALM_NAME=NDP
CKANEXT__KEYCLOAK__REDIRECT_URI=https://ndp-test.sdsc.edu/catalog/user/sso_login
CKANEXT__KEYCLOAK__CLIENT_SECRET_KEY=
CKANEXT__KEYCLOAK__LOGIN_GROUP=ckan_admin

#-------------------------
## workspaces-api
server_url=https://idp-test.nationaldataplatform.org/
realm=NDP
client_id=
client_secret=
authorization_url=https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/auth
token_url=https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/token
sparcal_port=5432
WFR_BASE_PATH=/v1
web_protocol=https://
base_host=0.0.0.0
root_url=0.0.0.0
backend_port=8000
frontend_port=3000
AWESOME_URL=postgresql+psycopg2://postgres:postgres@workspace-db:5432/postgres
WFR_DOCS_URL=/docs
API_PROXY_PATH=/workspaces-api
admin_username=
admin_password=
admin_realm=master
POSTGRES_USER_WORKSPACES=
POSTGRES_PASSWORD_WORKSPACES=
POSTGRES_DB_WORKSPACES=postgres
from_email=ndp@sdsc.edu
email_smtp=smtp.ucsd.edu
email_port=25
email_secret=
jupyterhub_client_id=
jupyterhub_client_secret=
