#-------------------------
## CKAN .env
# Container names
NGINX_CONTAINER_NAME=nginx
REDIS_CONTAINER_NAME=redis
POSTGRESQL_CONTAINER_NAME=db
SOLR_CONTAINER_NAME=solr
DATAPUSHER_CONTAINER_NAME=datapusher
CKAN_CONTAINER_NAME=ckan
WORKER_CONTAINER_NAME=ckan-worker

# Host Ports
CKAN_PORT_HOST=5000
NGINX_PORT_HOST=81
NGINX_SSLPORT_HOST=8443

# CKAN databases
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
CKAN_DB_USER=ckandbuser
CKAN_DB_PASSWORD=ckandbpassword
CKAN_DB=ckandb
DATASTORE_READONLY_USER=datastore_ro
DATASTORE_READONLY_PASSWORD=datastore
DATASTORE_DB=datastore
CKAN_SQLALCHEMY_URL=postgresql://ckandbuser:ckandbpassword@db/ckandb
CKAN_DATASTORE_WRITE_URL=postgresql://ckandbuser:ckandbpassword@db/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore

# Test database connections
TEST_CKAN_SQLALCHEMY_URL=postgres://ckan:ckan@db/ckan_test
TEST_CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore_test
TEST_CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore_test

# Dev settings
USE_HTTPS_FOR_DEV=false

# CKAN core
CKAN_VERSION=2.10.0
CKAN_SITE_ID=default
CKAN_SITE_URL=http://127.0.0.1:8443
CKAN_PORT=5000
CKAN_PORT_HOST=5000
CKAN___ROOT__PATH=/catalog
CKAN___BEAKER__SESSION__SECRET=<CHANGE_ME>
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#api-token-settings
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:<CHANGE_ME>
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:<CHANGE_ME>
CKAN_SYSADMIN_NAME=ckan_admin
CKAN_SYSADMIN_PASSWORD=test1234
CKAN_SYSADMIN_EMAIL=your_email@example.com
CKAN_STORAGE_PATH=/var/lib/ckan
CKAN_SMTP_SERVER=smtp.corporateict.domain:25
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER=user
CKAN_SMTP_PASSWORD=pass
CKAN_SMTP_MAIL_FROM=ckan@localhost
TZ=UTC

# Solr
SOLR_IMAGE_VERSION=2.10-solr9
CKAN_SOLR_URL=http://solr:8983/solr/ckan
TEST_CKAN_SOLR_URL=http://solr:8983/solr/ckan

# Redis
REDIS_VERSION=6
CKAN_REDIS_URL=redis://redis:6379/1
TEST_CKAN_REDIS_URL=redis://redis:6379/1

# Datapusher
DATAPUSHER_VERSION=0.0.20
CKAN_DATAPUSHER_URL=http://datapusher:8800
CKAN__DATAPUSHER__CALLBACK_URL_BASE=http://ckan:5000
DATAPUSHER_REWRITE_RESOURCES=True
DATAPUSHER_REWRITE_URL=http://ckan:5000

# NGINX
NGINX_PORT=80
NGINX_SSLPORT=443

# Extensions
CKAN__PLUGINS="envvars image_view text_view recline_view datastore datapusher ndp keycloak"
CKAN__HARVEST__MQ__TYPE=redis
CKAN__HARVEST__MQ__HOSTNAME=redis
CKAN__HARVEST__MQ__PORT=6379
CKAN__HARVEST__MQ__REDIS_DB=1

#-------------------------
## MLFLOW .env

MLFLOW_HOME=/opt/mlflow
GUNICORN_CMD_ARGS=--timeout 600 --log-level debug
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=sample_key
AWS_BUCKET_NAME=mlflow
MLFLOW_PORT=5001
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
MLFLOW_TRACKING_URI=http://mlflow:5001
MLFLOW_HOST=http://localhost:8443
MLFLOW_ROOT_PATH=/mlflow
MLFLOW_KEYCLOAK_CLIENT_ID=mlflow-local
MLFLOW_KEYCLOAK_CLIENT_SECRET=<CHANGE ME>
MLFLOW_FLASK_SECRET_KEY=<CHANGE ME>
MLFLOW_DEFAULT_PASSWORD=<CHANGE ME>
MLFLOW_ADMIN_USERNAME=<CHANGE ME>
MLFLOW_ADMIN_PASSWORD=<CHANGE ME>

#-------------------------
## Jupyterhub .env
JUPYTERHUB_PROXY_PORT=8000
JUPYTERHUB_PORT=8080
JUPYTERHUB_ADMIN=admin
DOCKER_NETWORK_NAME=ndp_default
DOCKER_NOTEBOOK_IMAGE=jhub-spawn
DOCKER_NOTEBOOK_DIR=/home/jovyan/work
JUPYTERHUB_KEYCLOAK_CLIENT_ID=<CHANGE_ME>
JUPYTERHUB_KEYCLOAK__CLIENT_SECRET=<CHANGE_ME>

#-------------------------
## Keycloak .env
OAUTH2_AUTHORIZE_URL=https://idp.nationaldataplatform.org/auth/realms/ndp/protocol/openid-connect/auth
OAUTH2_TOKEN_URL=https://idp.nationaldataplatform.org/auth/realms/ndp/protocol/openid-connect/token
KEYCLOAK_USERDATA_URL=https://idp.nationaldataplatform.org/auth/realms/ndp/protocol/openid-connect/userinfo

#-------------------------
## Front End .env
KEYCLOAK_ID=<CHANGE_ME>
KEYCLOAK_SECRET=<CHANGE_ME>
KEYCLOAK_ISSUER=https://idp.nationaldataplatform.org/auth/realms/ndp
NEXTAUTH_URL=http://localhost:8443/
NEXTAUTH_SECRET=<CHANGE_ME>
NEXT_PUBLIC_NDP_PASSWORD=<CHANGE_ME>
NEXT_PUBLIC_CKAN_URL=http://localhost:8443/ckandata
NEXT_PUBLIC_CKAN_CATALOG_URL=http://localhost:8443/catalog/api/3/action
NEXT_AWESOME_SERVER_URL=http://awesome-compute.sdsc.edu:8081/v1
NEXT_PUBLIC_JUPYTER_HUB_URL=https://ndp-staging-jupyterhub.nrp-nautilus.io

#-------------------------
## ckanext-keycloak
CKANEXT__KEYCLOAK__SERVER_URL=https://idp.nationaldataplatform.org/auth/
CKANEXT__KEYCLOAK__CLIENT_ID=ckan-local
CKANEXT__KEYCLOAK__REALM_NAME=ndp
CKANEXT__KEYCLOAK__REDIRECT_URI=http://localhost:8443/catalog/user/sso_login
CKANEXT__KEYCLOAK__CLIENT_SECRET_KEY=<CHANGE_ME>
CKANEXT__KEYCLOAK__LOGIN_GROUP=ckan_admin