[submodule "ckan-docker"]
	path = ckan-docker
	url = git@github.com:national-data-platform/ckan-docker.git
[submodule "mlflow"]
	path = mlflow
	url = git@github.com:national-data-platform/mlflow.git
[submodule "ndp-frontend"]
	path = ndp-frontend
	url = git@github.com:national-data-platform/ndp-frontend.git
[submodule "ndp-workspaces-api"]
	path = ndp-workspaces-api
	url = git@github.com:national-data-platform/ndp-workspaces-api.git
