server {
  
  proxy_connect_timeout       1200;
  proxy_send_timeout          1200;
  proxy_read_timeout          1200;
  send_timeout                1200;

  client_max_body_size        100M;

  location /api/v1/jupyterhub {
      proxy_pass http://jupyterhub:${JUPYTERHUB_PROXY_PORT};
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  location /api/v1/catalog {
      proxy_pass http://ckan:${CKAN_PORT};
      proxy_set_header X-Forwarded-For $remote_addr;
      proxy_set_header Host $host;
      #proxy_cache cache;
      proxy_cache_bypass $cookie_auth_tkt;
      proxy_no_cache $cookie_auth_tkt;
      proxy_cache_valid 30m;
      proxy_cache_key $host$scheme$proxy_host$request_uri;
  }
  location /api/v1/mlflow {
      proxy_pass http://mlflow:${MLFLOW_PORT};
  }
}

